<h1>Fill the informations</h1>
<%=form_for @expense do |f|%>
    <%=f.label :Amount%>
    <%=f.number_field :amout%><br><br>
    <%=f.label :Description%>
    <%=f.text_area :description%><br><br>
    <%=f.submit "Submit"%>
<%end%>